<!-- get all customer html page -->
<h2 style="text-align: left">All Customers :</h2>
<table1 style="float:left;">
<tr>
	<a href="#/Home"><img alt="home" src="image/home.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
<tr>
	<a href="https://www.facebook.com" target="blank"><img
		alt="facebook" src="image/facebook.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
<tr>
	<a href="https://www.linkedin.com" target="blank"><img
		alt="linkedin" src="image/linkedin.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
<tr>
	<a href="https://www.twitter.com" target="blank"><img alt="twitter"
		src="image/twitter.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
</table1>
<br>
<br>
<hr class="style17">
<p style="font-size: 14px; text-align: left">Total Customers :</p>
<p style="color: green; font-size: 35px; text-align: left">
	{{gacu.customers.length}}</p>
<div style="overflow-x: auto;">
	<table width="270px">
		<caption>Table 3.7 All Customers Table</caption>
		<tr background-color="#757575">
			<th ng-click="gacu.setOrder('id')">ID</th>
			<th ng-click="gacu.setOrder('name')">NAME</th>
		</tr>

		<tr
			ng-repeat="c in gacu.customers | orderBy : gacu.orderB : gacu.goUp">
			<td>{{c.id}}</td>
			<td>{{c.custName}}</td>
		</tr>
	</table>
</div>
<br>
<br>
<div style="text-align: left">
	<b>TIP</b>: you can arrange the table in ascending and descending order
	by:<b> ID</b> and<b> NAME</b>, by clicking the column header
</div>