<!-- update company html page -->
<!-- 
administrator home page. Any successful Login execution will bring the administrator to the home page, 
which has all the relevant methods according to the system permissions for the administrator. 
 -->
<h2 style="text-align: left">Home</h2>

<div class="header1">
	<p style="letter-spacing: 5px; font-size: 25px">Admin-COUPON SYSTEM</p>
</div>

<div>
	<div class="column menu">
		<ul style="width: 170px;">
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Createcompany"
						style="text-decoration: none; color: black;">Create Company</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Updatecompany"
						style="text-decoration: none; color: black;">Update Company</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Deletecompany"
						style="text-decoration: none; color: black;">Delete Company</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Getcompany" style="text-decoration: none; color: black;">Get
						Company</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Getallcompanies" ng-click="gaco.getAllCompanies()"
						style="text-decoration: none; color: black;">Get All Companies</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Createcustomer"
						style="text-decoration: none; color: black;">Create Customer</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/updatecustomer"
						style="text-decoration: none; color: black;">Update Customer</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Deletecustomer"
						style="text-decoration: none; color: black;">Delete Customer</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Getcustomer"
						style="text-decoration: none; color: black;">Get Customer</a>
				</button></li>
			<li><button class="w3-btn w3-white w3-border w3-round-large"
					style="width: 170px">
					<a href="#/Getallcustomers" ng-click="gacu.getAllCustomers()"
						style="text-decoration: none; color: black;">Get All Customers</a>
				</button></li>
		</ul>
	</div>
	<div class="column content1" style="margin-left: 20px; width: 450px;">
		<h3 style="text-align: left; color: FireBrickl">Welcome to Coupon
			Deal</h3>
		<p style="text-align: left">
			Here you can take actions on the system, depending on your abilities
			as a admin. For this, you must be <a
				href="http://localhost:8080/CouponWebService/Login/Login.html">
				logged in</a>
		</p>
		<br>
		<p style="text-align: left; text-decoration: underline;">Watch
			All Of Your Clients -</p>
		<p style="text-align: left">You Can Watch Your Clients In The System Eny Time,
			Enywhere..</p>

		<p style="text-align: left; text-decoration: underline;">Perform Actions -</p>
		<p style="text-align: left">Create, Delete, and Update Users (Company And Customers)
			Information at any time, including Password and Emails</p>

		<p style="text-align: left; text-decoration: underline;">Watch
			Clients By ID -</p>
		<p style="text-align: left">You Can Watch Your 
			Clients Eny Time, Enywhere, Filterd By Client Id</p>
			

		<h3 style="text-align: left; color: FireBrickl">System Benefits</h3>
		<ul class="b">
			<li>Create A New User Every Day, Every moment...</li>
			<li>New customers every day</li>
			<li>More advertising by exposure to as many customers as possible</li>
			<li>Hundreds Of New customers Every Day</li>
			<li>First come first served</li>
			<li>Thousands of coupons at the best prices in Israel</li>
			<li>24-hour Company service</li>
		</ul>
	</div>
	
</div>



