<h2 style="text-align: left">Purchase Coupon</h2>

<table1 style="float:left;">
<tr>
	<a href="#/home"><img alt="home" src="image/home.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
<tr>
	<a href="https://www.facebook.com" target="blank"><img
		alt="facebook" src="image/facebook.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
<tr>
	<a href="https://www.linkedin.com" target="blank"><img
		alt="linkedin" src="image/linkedin.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
<tr>
	<a href="https://www.twitter.com" target="blank"><img alt="twitter"
		src="image/twitter.png"
		style="width: 55px; height: 55px; padding: 10px;"></a>
</tr>
</table1>
<br>
<br>
<hr class="style17">
<p style="text-align: left">Please insert the coupon id you are
	interested in:</p>
<form ng-submit="pu.onSubmit(theForm.$valid)" name="theForm">
	<table1 style="text-align: left">
	<td><input class="w3-input w3-border w3-round-large"
		style="width: 20%; float: left" type="text" ng-model="pu.id"
		placeholder="Coupon ID"
		onkeypress='return event.charCode >= 48 && event.charCode <= 57'
		required="required">
		<button value="purchase" style="float: left"
			class="w3-btn w3-white w3-border w3-round-large" type="submit">Purchase
			Me !</button></td>
	</table1>
</form>
<br>
<br>
<div style="text-align: left">
	Here is the list of coupons that <b>you have purchased in the past</b>.
</div>
<div style="overflow-x: auto; width: 900px;">
	<div ng-controller="GetAllCouponsCtrl as g">
		<table width="800px">
			<caption>Table 1.0 All Customer Purchased Coupons</caption>
			<tr background-color="#757575">
				<th ng-click="g.setOrder('id')">ID</th>
				<th>TITLE</th>
				<th>START DATE</th>
				<th>END DATE</th>
				<th ng-click="g.setOrder('type')">TYPE</th>
				<th ng-click="g.setOrder('price')">PRICE</th>
				<th>MESSAGE</th>
				<th>IMAGE</th>
			</tr>

			<tr ng-repeat="c in g.mycoupons | orderBy : g.orderB : g.goUp ">
				<td>{{c.id}}</td>
				<td>{{c.title}}</td>
				<td>{{c.startDate}}</td>
				<td>{{c.endDate}}</td>
				<td>{{c.type}}</td>
				<td>{{c.price}}</td>
				<td>{{c.message}}</td>
				<td>{{c.image}}</td>
			</tr>
		</table>
	</div>
</div>
<br>
<br>
<div style="text-align: left">
	<b>TIP</b>: you can arrange the table in ascending and descending order
	by:<b>ID</b>, <b>TYPE</b>, and<b> PRICE</b>, by clicking the column
	header
</div>















